* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #111;
    background: #ffffff;
    line-height: 1.7;
}

/* SECTIONS */
section {
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

/* COMMON SECTION HEADINGS */
#about h2,
#skills h2,
#projects h2,
#contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* FADE SECTION (GLOBAL) */
.fade-section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.fade-section.visible {
    opacity: 1;
    transform: translateY(0);
}

